{erl_opts, [no_debug_info,
			{i, "include"},
            {i, "deps/emysql/include"},
			{src_dirs, ["cfg", "test", "src"]},
			{parse_transform, lager_transform}]}.
{deps_dir, ["deps"]}.

{deps,[
	{lager, ".*", {git, "https://github.com/basho/lager.git"}},
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "develop"}}},
	{emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", {branch, "master"}}},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},
  	{recon, ".*", {git, "https://github.com/ferd/recon.git",{tag,"2.2.1"}}},
  	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.0"}}}
]}.

{proto_opts, [{compiler, protobuffs},
			  {src_dirs, ["proto"]}
			 ]}.

{pre_hooks, [
			{compile, "sh script/gen_config.sh"}
			]}.

{clean_files, ["log/*"]}.
